*{
    margin: 0;
    padding: 0;
}

#main{
    height: 100vh;
    background-color: rgb(91, 93, 207);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(95, 95, 179);
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#balance-container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
}
.btn{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}
.btn:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

#fund-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 20px;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#fund-container input[type="text"]{
    padding: 1rem 3rem;
    font-size: 1.5rem;
}
